{% extends 'base.html.twig' %}

{% block title %}
    Modifier la langue
    
{% endblock %}

{% block body %}

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.code) }}
            {{ form_widget(form.code) }}
            <div class="form-error">
                {{ form_errors(form.code) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.lang) }}
            {{ form_widget(form.lang) }}
            <div class="form-error">
                {{ form_errors(form.lang) }}
            </div>
        </div>

        <div class="form-group">
             {{ form_row(form.submit) }}
        </div> 

        {{ form_end(form) }}
        
{% endblock %}